
<div class="col-6" style="float: right;"> <!--card p-2 m-2 -->
    <div>
        <div class="Tabletitle">Fields</div>
        <div class="card m-2">
            <!-- <form [formGroup]="mappingForm" class="card-body"> -->
            <div class="card-body">
                <div class="col-1-sm mb-3" style="float: right;"> <!--card p-2 m-2 -->
                    <button class="form-control" style="background-color: #6ec01b;" (click)="completeForm()">Complete</button>
                </div>
                <div class="input-group-sm mb-3 input-group col-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text form-label-105 w-100">Document Type</span>
                    </div>
                    <mat-label class="form-control">
                        {{selectedDocument === 'LicenseReports' ? 'Reports of Licensee':''}}
                    </mat-label>
                </div>
            </div>

            <app-maps-fields [vaultDocId]="vaultDocId" [selectedDoc]="selectedDocument"></app-maps-fields>
        </div>
    </div>
</div>

<div  class="col-6" style="float: left; height: 100%;">
    <div id="ithParent" class="col-12 h-100 fluid">
        <!-- <div class="help-attr row"><a href="https://in-ith-web.s3.us-east-2.amazonaws.com/help-docoperations.html" target="_blank">Help</a></div> -->
        <!--Parent container to host the client-->
        <div id="imageTrustDiv">
        </div>
        
    </div>

    <!--Div to display Error-->
    <div id="ithError">
        <div id="msg"></div>
        <button class="button" style="float: none;" id="close-window" onclick="closeWindow()">Close</button>
    </div>
    <!--Div to freeze the surrounding the confirm dialog-->
    <div id="freezeLayer" class="freeze-layer" style="display:none;"></div>
    <!--Spinner-->
    <!-- <div id="spin" class="spin" style="display:none !important;"></div> -->
    <!--Confirm dialog box to get user conformation to upload or update version-->
    <div id="dialogCont" class="dlg-container">
        <div class="dlg-header">Are you sure?</div>
        <div id="dlgBody" class="dlg-body">Do you want to continue?</div>
        <div class="dlg-footer">
            <a id="action-button" onclick="SplitConfirm.okay();">Ok</a>
            <a id="cancel-button" onclick="SplitConfirm.close();">Cancel</a>
        </div>
    </div>
</div>